apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 132672257147.dkr.ecr.us-east-1.amazonaws.com/argoteste/dev/front:v3.0
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: aws-regcred