apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 132672257147.dkr.ecr.us-east-1.amazonaws.com/argoteste/dev/front:v5.0
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: aws-regcred

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: default
spec:
  selector:
    app: frontend # Deve ser igual ao label no seu Deployment
  ports:
    - protocol: TCP
      port: 80         # Porta que o serviço expõe
      targetPort: 80   # Porta que o seu container está ouvindo (containerPort: 80)
  type: ClusterIP

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress-traefik
  namespace: default
  #annotations:
    # Caso seu Traefik precise de redirecionamento HTTPS automático ou outras regras:
    #traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
    - host: app.172.20.0.2.sslip.io   # <-- Altere para o seu domínio ou subdomínio
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 80
